{% extends 'base.html' %}

{% block body %}
    <h3 class="text-center pt-3">Add your Blog</h3>
    <div class="conatiner mx-5">

        <form class="mx-5" method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Title</label>
              <input type="text" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Description</label>
                <textarea name="desc" class="form-control" id="" cols="30" rows="10"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="{% url 'Home' %}" class="btn btn-danger">Cancel</a>
          </form>
    </div>
    {% endblock body %}